{% extends 'base.html' %} {% block headtitle %} testing {% endblock headtitle %}
{% block content %}
<h1>Welcome to Notions</h1>
<div id="notions">loading...</div>
<script>
  // this basically, queries /notions and expects a json response which is then printed in the log of the home.html
  const notionsElement = document.getElementById("notions");
  const xhr = new XMLHttpRequest();
  const method = "GET";
  const url = "/notions";
  const responseType = "json";
  xhr.responseType = responseType;
  xhr.open(method, url);
  xhr.onload = function() {
    const serverResponse = xhr.response;
    var listedItems = serverResponse.response;
    var finalNotionsStr = "";
    var i = 0;
    for (i = 0; i < listedItems.length; i++) {
      console.log(i);
      console.log(listedItems[i]);
      var currentItem =
        "<h1>" +
        listedItems[i].id +
        "</h1>" +
        "<p>" +
        listedItems[i].content +
        "</p>";
      finalNotionsStr = finalNotionsStr + currentItem;
    }
    notionsElement.innerHTML = finalNotionsStr;
  };
  xhr.send();
</script>
{% endblock content %}