{% extends 'base.html' %} {% block headtitle %} testing {% endblock headtitle %}
{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome to Notions</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" method="POST" action="/create-notion">
            {% csrf_token %}
            <input type="hidden" value="/" name="next"/>
            <textarea class="form-control" name="content" placeholder="Post a notion"></textarea>
            <button type="submit" class="btn btn-primary">Notionize</button>
        </form>
    </div>
</div>

<div class="row" id="notions">
    <p>loading...</p>
</div>

<script>
  const notionsElement = document.getElementById("notions");
  const xhr = new XMLHttpRequest();
  const method = "GET";
  const url = "/notions";
  const responseType = "json";
  var likesCounter = 0;

  function handleDidLike(notion_id, likesCounter){
    console.log(notion_id,likesCounter)
    return
    }
  function LikeBtn(notion){
    return "<button class='btn btn-primary btn-sm' onclick=handleDidLike("+notion.id + "," +notion.likes+ ")>" +notion.likes+ " Like</button>"
  }

  function formatNotionElement(notion){
    var formattedNotion = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4' id='notion-'" + notion.id + "'><p>" + notion.content + "</p><div class='btn-group'>"+ LikeBtn(notion) + "</div></div>"
    return formattedNotion
  }
  xhr.responseType = responseType;
  xhr.open(method, url);
  xhr.onload = function() {
    const serverResponse = xhr.response;
    var listedItems = serverResponse.response;
    var finalNotionsStr = "";
    var i = 0;
    for (i = 0; i < listedItems.length; i++) {
      var notionObj = listedItems[i];
      var currentItem = formatNotionElement(notionObj);
      finalNotionsStr = finalNotionsStr + currentItem;
    }
    notionsElement.innerHTML = finalNotionsStr;
  };
  xhr.send();
</script>
{% endblock content %}